@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s linear;
}

*::selection {
  background: #23336e;
  color: #ffffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background: #f7f7f7;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #666;
}
.wub-heading {
  text-align: center;
  color: black;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.heading span {
  color: #23336e;
}

.home {
  background: url(../project/images/bg-1.jpg) no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}
.home .heaf {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
}
.home .content {
  text-align: center;
}

.home .content h3 {
  font-size: 4.5rem;
  color: #ffffff;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
  font-size: 2.5rem;
  color: #ffffff;
  padding: 0.5rem 0;
}

.home .video-container video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 670px;
  width: 100%;
  object-fit: cover;
}

.home .controls {
  padding: 1rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 10rem;
}

.home .controls .vid-btn {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin: 0 0.5rem;
}

.home .controls .vid-btn.active {
  background: #23336e;
}
.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid #23336e;
  color: #23336e;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #23336e;
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #ffffff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 1rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: none;
  font-weight: bolder;
  color: #666;
}

header .logo i {
  padding-right: 0.5rem;
  color: #23336e;
}

header .navbar a {
  font-size: 1.6rem;
  margin-left: 2rem;
  color: #666;
}

header .navbar a:hover {
  color: #23336e;
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #666;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

.home {
  margin-top: 0rem;
  background: url(../project/images/bg-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 100rem;
  text-align: center;
  margin: 0 0;
}

.home .content img {
  width: 100%;
  max-width: 100rem;
  text-align: center;
}

.home .content h3 {
  font-size: 3rem;
  color: #1f1f1f;
}

.home .content h4 {
  font-size: 3rem;
  color: #666;
}

.home .content p {
  font-size: 1.7rem;
  line-height: 1.2;
  color: rgb(58, 58, 58);
  margin: 30px;
}

.footer {
  background: #000;
  text-align: center;
}

.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .credit {
  padding: 2.5rem 1rem;
  color: rgb(104, 104, 104);
  font-weight: normal;
  font-size: 1.3rem;
}

.footer .credit span {
  color: var(--blue);
}

#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  background: #23336e;
  color: #ffffff;
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader-container.fade-out {
  top: -120%;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid #23336e;
    background: rgb(255, 255, 255);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }
}

.anm {
  font-size: 1.2rem;
  margin-left: 1.5rem;
  color: rgb(31, 30, 30);
  position: relative;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

.anm:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #23336e;
  transition: 0.5s;
}
.anm:after {
  left: 0;
  bottom: -5px;
}
.anm:before {
  right: 0;
  top: -5px;
}
.anm:hover {
  color: #23336e;
}
a.anm:hover:after,
.anm:hover:before {
  width: 100%;
}

.poster {
  color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  height: 50vh;
  align-items: center;
  background: url(images/ocean-ps.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}

header2 {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 0 7%;
}
header2 h1 {
  float: left;
  padding: 15px 0;
  color: #d4d4d4;
}
header2 ul {
  float: right;
}
header2 ul li {
  display: inline-block;
}
header2 ul li a {
  padding: 25px 20px;
  display: inline-block;
  color: #d4d4d4;
  font-size: 150%;
}
.active5 {
  background-color: #d4d4d4;
  color: #000000;
}
header2 ul li a:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.active5 {
  background-color: #f1f1f1;
  color: #000000;
}

.overview {
  background: url(../project/images/bg-1.jpg) no-repeat;
  padding: 1rem 10%;
  color: #000000;
}
.imagee {
  position: relative;
  top: 10%;
  right: 10%;
  left: 10%;
  bottom: 10%;
  width: 120%;
}
@media (max-width: 768px) {
  .home .content h3 {
    font-size: 2.5rem;
  }
}

.gallery2 {
  background: url(../project/images/bg-1.jpg) no-repeat;
  padding-top: 8rem;
  padding-bottom: 4rem;
}
.gallery2 .heaf {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
}
.gallery2 .content {
  text-align: center;
}

.gallery2 .content h3 {
  font-size: 4.5rem;
  color: #ffffff;
}

.gallery2 .heading {
  color: #ffffff;
}

.gallery2 .box-gallery2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery2 .box-gallery2 .box {
  cursor: initial;
}

.gallery2 .box-gallery2 .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery2 .box-gallery2 .box .image {
  height: 20rem;
  overflow: hidden;
}

.gallery2 .box-gallery2 .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.gallery2 .box-gallery2 .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.techdata {
  background: url(../project/images/bg-1.jpg) no-repeat;
}
.techdata .heaf {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: rgb(0, 0, 0);
}
.techdata .row {
  display: flex;
  align-items: center;
  background: none;
  flex-wrap: wrap;
}
.techdata .table {
  width: 100%;
  font-size: 1.5rem;
  display: block;
  margin-right: 20%;
  margin-left: 10%;
}
.techdata .table {
  font-size: 1.6rem;
}
.techdata .table tr {
  border-bottom: 1000px solid #000000;
}
.techdata .table tr:last-child {
  border-bottom: none;
}
.techdata .table td {
  padding: 1rem 0;
  vertical-align: middle;
  font-weight: 1200;
}
.techdata .table .name {
  width: 22rem;
}
.techdata .table .value {
  text-align: right;
  width: 10rem;
  padding-right: 1rem;
}
.techdata .table .unit {
  width: 7rem;
}

.techdata .table .unit-imperial {
  width: 24rem;
}
.techdata .table .value-imperial {
  width: auto;
}
.techdata .table .unit-si,
.yacht-tech-table .unit-imperial {
  text-align: left;
  margin-left: 20pt;
  color: #5c5c5c;
}

.techdata .row .image {
  flex: 1 1 20rem;
}

.techdata .row .image img {
  width: 100%;
}
.techdata .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.techdata .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.techdata .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}
